#p4_body
{
display: grid;
grid-template-columns: 500px 100px 100px  100px ;
}

#p4_top{
	display: grid;
grid-template-columns: 100px 100px 100px ; 
}
.wish{
	font-size: 30px;
	color: black;
}
.small_sec{
	background-color: lightgrey;
	width: 50px;
	height: 50px;
	color: grey;
}

.md-marked .md-marked-points {
    display: inline-block;
    vertical-align: middle;
    width: 7px;
    height: 7px;
    margin: 0 4px 0 0;
    border-radius: 7px;
    background: #aaa;
}
.p4_para1{
	display: grid;
	grid-template-columns: 50px 200px 1000px; 
}
#p4_body1{
	display: grid;
	grid-template-rows: 200px 200px 200px ;
}
.random_date{
	display: grid;
	grid-template-rows: 20px 20px 20px;
}