.para{
	display: grid;
	grid-template-columns: 2250px;
}
.headin{
	color: #e91e63;
    font-size: 19px;

}
.para_3{
	font-size: 16px;
}
.img_grid{
	display: grid;
	grid-template-columns: 250px 250px 250px 250px ;
 
}
.team_img{
	height: 260px;
	width: 230px;
}
.names{
	height: 50px;
	text-align: center;

}
.social_icons{
	display: grid;
	grid-template-rows: 25px 25px 25px 25px;
}
.soc_icon{
	height: 25px;
	width: 25px;
}
.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  height: 260px;
	width: 230px;
}

.overlay {
margin-top: 150px; 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  }

.container:hover .overlay {
  opacity: 1;
}
.icons{
	color: white;
	font-size: 20px;
}
