.img_cent{
	  padding-top: 20px;
    padding-left: 50px; 
    width: 893px;
    height: 669px;
    opacity: 0.8;
}
}
#start_but{
	border-radius: 25px;
    width: 126px;
    height: 50px;
    background-color: #e01a5e;
    color: #fbeded;
    font-size: 21px;
}
.centered {
	position: relative;
    text-align: center;
    color: white;
    margin-top: -389px;
    left: 21%;
    transform: translate(-2%, -50%);
    font-size: 1.9em;
    padding-right: 23px;
   }
   .point{
   	font-size: 50px;
   	color:  #e01a5e;
   }
   .nav_bar2{
   	font-size: 20px;
    padding-left: 48%;
   }
   .nav_bar3{
       font-size: 20px;
    padding-left: 3%;
   }
   .nav_bar{
   	font-size: 20px;
   	padding-left: 10px;
   }