.img_cent{
	padding: 10% 10%;
    width: 1100px;
    height: 669px;
    opacity: 0.8;
}
#start_but{
	border-radius: 25px;
    width: 126px;
    height: 50px;
    background-color: #e01a5e;
    color: #fbeded;
    font-size: 21px;
}
.centered {
	position: absolute;
    text-align: center;
    color: white;
    margin-top: -389px;
    left: 34%;
    transform: translate(-29%, -50%);
    font-size: 2.3em;
    padding-right: 23px;
   }
   .point{
   	font-size: 50px;
   	color:  #e01a5e;
   }
   .nav_barmain {
    margin-top: -10px;
	  overflow: hidden; ;
	  position: fixed;
	  width: 100%;
	  background-color: pink;
	  height: 50px;
}
   .nav_bar2{
   	font-size: 20px;
   	padding-left: 50%;
   }
   .nav_bar3{
       font-size: 20px;
    padding-left: 3%;
   }
   .nav_bar{
   	font-size: 20px;
   	padding-left: 10px;
   }

.slides {

/*margin-top: 400px;
*/width:70%;
height: 600px; 
margin: 200px;
}
.slides-hidden {
display : none;
margin-top: 70px;
}
.hover_para{
background-color:#e91e63;
width:450px;
height: 300px;
margin-left:750px;
margin-top: -300px;
color: white;
position: relative;
font-size: 20px;
box-shadow: 10px 10px pink;
border: 20px #e91e63 ; 
}
.h5{
margin-top: 20px;
}
.readmore{
margin-right: -100px;
background-color: red;
border:2px solid red;
border-radius: 40px;
}
.pointer_img{
  border-radius: 50%;
}